
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
   
}

<h2>Dashboard</h2>

<a href="../Admin/Product"color:white;"><i class="fa fa-plus"></i> Products</a>
<a href="../Admin/Categories" color:white;"><i class="fa fa-plus"></i> Categories</a>
<a href="../Home/Index" color:white;"><i class="fa fa-plus"></i> Go to Store</a>

